<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/imgs/logo.svg" width="100">
        </a>
        <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation" style="border: 1px #535353 solid;">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link fw-bold" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" href="/servicios">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" href="/ayuda">Ayuda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" href="/contacto">Contacto</a>
                </li>
                <!-- OJO AQUI -->
                <li class="nav-item">
                    {{#if (checkSess session)}}
    <a class="nav-link fw-bold" href="/perfil">Perfil</a>
    {{else}}
    <a class="nav-link fw-bold" href="/login">Iniciar Sesión</a>
    {{/if}}
                </li>
                {{#if (checkSess session)}}
    <a class="nav-link fw-bold" href="/signout">Cerrar Sesión</a>
    {{else}}
    {{/if}}
            </ul>
        </div>
    </div>
</nav>