<body>
    <div class="cuerpo"> 
        <div class="container ayuda">
<center><h1 class="fw-bold text-white mb-5">Ayuda</h1></center>

<p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum corrupti inventore voluptatum odio sit perspiciatis, quae nemo? Vitae deserunt tenetur recusandae commodi tempore quaerat eos, exercitationem excepturi unde distinctio nisi!</p>
<br>
<p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum corrupti inventore voluptatum odio sit perspiciatis, quae nemo? Vitae deserunt tenetur recusandae commodi tempore quaerat eos, exercitationem excepturi unde distinctio nisi!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam cumque nostrum ratione accusantium illum vero hic ad quod pariatur praesentium nihil eligendi, id amet! Velit eveniet laboriosam quas voluptatem veritatis!
</p>

<p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum corrupti inventore voluptatum odio sit perspiciatis, quae nemo? Vitae deserunt tenetur recusandae commodi tempore quaerat eos, exercitationem excepturi unde distinctio nisi!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam cumque nostrum ratione accusantium illum vero hic ad quod pariatur praesentium nihil eligendi, id amet! Velit eveniet laboriosam quas voluptatem veritatis!
</p>
        </div>
    </div>
</body>
<style>
        body {
        height: 90vh;
    }


    .cuerpo {
        background-image: url('https://firebasestorage.googleapis.com/v0/b/saludcercana-a0cc7.appspot.com/o/background.jpg?alt=media&token=36e5f048-a75a-42d8-ad80-8646cb83dc77');
        width: 100%;
        min-height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px;
    }
        .ayuda {
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100%;
        border-radius: 5px;
        padding: 20px;
    }
</style>