<body>
    <div class="cuerpo">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="">
                        <div class="fw-bold fs-1 text-center titulo mb-4">Salud Cercana</div>

                        <div class="separator mb-4"></div>

                        <div class="text-white fw-bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque atque consectetur tempora accusantium quod dolorem aut neque veritatis porro, corporis veniam ullam impedit omnis soluta reprehenderit unde, vero a id.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque atque consectetur tempora accusantium quod dolorem aut neque veritatis porro, corporis veniam ullam impedit omnis soluta reprehenderit unde, vero a id.
                        </div>
                    </div>
                </div>
                <div class="col-md-5 x-3">
                    <div class="cardLogin px-5">
                        <div class="text-center fw-bold fs-3 mb-5">Iniciar sesión</div>
                        <form id="Login" class="mb-5" method="post" action="login">
    
                            <div class="form-group mb-2">
                                <input type="email" class="form-control" id="inputEmail"
                                    placeholder="Correo electrónico..." name="user">
                            </div>
    
                            <div class="form-group mb-4">
                                <input type="password" class="form-control" id="inputPassword" placeholder="********..." name="pass">
                            </div>
                            <center>
                                <button type="submit" class="btn btn-primary">Ingresar</button>
                            </center>
                        </form>
                        <center>
                            <a href="/signin">Crear cuenta.</a>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<style>
    body{
    height: 100vh;
}

.cuerpo{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/saludcercana-a0cc7.appspot.com/o/loginBackground.jpg?alt=media&token=527c3060-e0f8-4dd6-aace-937aaec82b02');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo{
    color: black;
    filter: drop-shadow(0px 0px 5px #380d49a8);
}

.separator{
    border-bottom: 1px #6124b1 solid;
}

.cardLogin{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px #6124b1 solid;
    filter: drop-shadow(0px 0px 5px #70009ca8);
}
</style>