<body>
    <div class="jumbotron heroService"></div>

    <div class="container">
        <div class="row userInfoHeader">
            <div class="col-md-3">
                <img src="https://firebasestorage.googleapis.com/v0/b/saludcercana-a0cc7.appspot.com/o/user.jpg?alt=media&token=8b1b850e-6bd3-4edd-9078-38108b08ba55" alt="" width="60%" class="userImg">
            </div>
            <div class="col-md-9 userInfoData">
                <div>Nombre: Julio Salas</div>
                <div>Especialidad: Dermatología</div>
                <div>Servicio: Servicios Dermatológicos</div>
            </div>
        </div>

        <div class="serviceInfo mt-5">
            <div class="drescricion mb-5">
                <div class="fw-bold">Descripción del servicio:</div>
                <div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate commodi quasi, nemo mollitia molestiae voluptatum ducimus, tenetur perspiciatis aliquam ipsum repellendus, soluta dolorem. Itaque officia esse impedit, non officiis eius!.
                </div>
            </div>
            <div class="contacto mb-5">
                <div class="fw-bold">Contacto:</div>
                <div>Teléfono: 234214124</div>
                <div>Correo: ejemplo@uanl.edu.mx</div>
            </div>
            <div class="ubicacion">
                <div class="fw-bold">Ubicación:</div>
                <div class="fw-bold">Moctezuma 1ra Secc, 15500 Ciudad de México, CDMX.</div>
                <br>
                <img src="https://firebasestorage.googleapis.com/v0/b/saludcercana-a0cc7.appspot.com/o/google_maps.jpg?alt=media&token=9de50adc-c808-4a73-95b2-80d7467465f8" alt="" width="70%" class="googleMaps mb-5">
            </div>
        </div>

    </div>
</body>
<style>
    .heroService {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/saludcercana-a0cc7.appspot.com/o/dermatologo_hq.jpg?alt=media&token=e3874a4c-cf7b-4284-9af3-9d73232cd938');
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5vh;
    background-position: 50%;
}

.userInfoHeader{
    margin: 0px 0px 10px 0px;
}

.userImg{
    display: block;
    margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 1px #505050 solid;
}

.userInfoData{
border-bottom: 1px rgb(106, 68, 194) solid;
display: block;
margin-top: auto;
margin-bottom: auto;
}
.googleMaps{
    display: block;
    margin-left: auto;
  margin-right: auto;
}
</style>